body {
    background-image: url('../img/download.jpeg')
}

.verse1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.dave{
    font-family: arial;
    font-size:60px;
}

.chorus {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px; 
    color: peachpuff;
}